@using projee.Models
@model KanBagisi

@{
    ViewBag.Title = "Index";
}


<form method="post" action="/KanBagisi/YeniBagisi">
    <div class="modal-body">
        <div>
            <label>Ad</label>
            @Html.TextBoxFor(m => m.ad, new { @class = "form-control" })
        </div>
        <br />
        <label>Soyad</label>
        @Html.TextBoxFor(m => m.soyad, new { @class = "form-control" })
        <br />
        <label>TC</label>
        @Html.TextBoxFor(m => m.tc, new { @class = "form-control" })
        <br />
        <label>Cinsiyet</label>
        @Html.TextBoxFor(m => m.cinsiyet, new { @class = "form-control" })
        <br />
        <label>Adet</label>
        @Html.TextBoxFor(m => m.adet, new { @class = "form-control" })
        <br />
        <label>Kan Stok ID</label>
        <div>
            @Html.TextBoxFor(m => m.kanStoguID, new { @class = "form-control" })
        </div>
        <br />
        <button class="btn btn-dark ">Bağış Yap</button>
        

    </div>
</form>

